@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer components {
    .vertical-center {
        height: calc(100vh - 64px);
    }

    .page-size-box {
        @apply cursor-pointer border-2 hover:bg-gray-100 flex items-center
            justify-center rounded-lg shadow-sm min-w-9 w-9 h-9
            text-sm
    }
}